<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>JSP Page</title>
</head>
<body>
<h1>Are you sure you want to delete this product</h1>

<br>
<form action="${pageContext.request.contextPath}/deleteProduct" method="get">
    <label class="pad_top">Product Code: ${product.code}</label><br>
    <label class="pad_top">Product Description: ${product.description}</label><br>
    <label class="pad_top">Product Price: ${product.price}</label><br>
</form>
<br>


<form action="deleteProduct" method="post">
    <input type="submit" value="Yes">
</form>

<br>
<form action="displayProducts" method="get">
    <input type="submit" value="No">
</form>
</body>
</html>
